.courosol-container{
  display: grid;
  margin-left: 50px;
  height: 100%;
  text-align: center;
  /* background-color:rgb(255, 196, 196); */
}
/* .btn-testimonial{
  width: 120px;
  border-radius: 50px;
  margin-left: 3%;
}
.test-div{
  height: 230px;
  margin: 20px;
  padding: 20px;
  background-color:#ffe8f0;
  border-radius: 50px;
} */
.test-div{
  margin: 50px;
}







